nav {
    background-color: #333; /* Arka plan rengi değiştirildi */
    padding: 20px 40px;
    text-align: right; /* Yazıları sağa hizala */
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    margin-left: 20px; /* Öğeler arası boşluk */
  }
  
  a {
    color: #fff !important; /* Yazı rengi beyaz */
    text-decoration: none;
    font-size: 18px; /* Yazı boyutunu büyüt */
    transition: color 0.3s ease;
  }
  
  a:hover  {
    color: #ffa500 !important; /* Hover rengi turuncu */
  }

  .icon {
    display: inline-block;
    margin-right: 20px;
  }
  
  .icon i {
    color: #ffa500;
    font-size: 24px;
    vertical-align: middle;
  }
  